<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>OA系统</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="js/jquery.js"></script>
<script type="text/javascript"> 
function att(){
	document.getElementById("res").style.display = "none";
	document.getElementById("att").style.display = "inline";
}

function res(){
	document.getElementById("att").style.display = "none";
	document.getElementById("res").style.display = "inline";
}
$(function(){
	//导航切换
	$(".menuson li").click(function(){
		$(".menuson li.active").removeClass("active")
		$(this).addClass("active");
	});
	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('ul').slideUp();
		if($ul.is(':visible')){
			$(this).next('ul').slideUp();
		}else{
			$(this).next('ul').slideDown();
		}
	});
	//子菜单切换
	$('#resOnclick').click(function(){
		document.getElementById("att").style.display = "none";
		document.getElementById("res").style.display = "inline";
	})
	$('#attOnclick').click(function(){
		document.getElementById("res").style.display = "none";
		document.getElementById("att").style.display = "inline";
	})
})	
</script>
</head>
<body style="background:#f0f9fd;">
	<div class="lefttop"><span></span>OA管理系统</div>
    <dl class="leftmenu">    
    <dd>
    <div class="title">
    <span><img src="images/leftico01.png" /></span>信息管理</div>
    	<ul class="menuson">
        <li><cite></cite><a>员工信息</a><i></i></li>
        </ul>    
    </dd>
    <dd>
    <div class="title">
    <span><img src="images/leftico02.png" /></span>人事管理</div>
    <ul class="menuson">
        <li><cite></cite><a href="#">福利管理</a><i></i></li>
        <li><cite></cite><a href="res_page" target="res" id="resOnclick">招聘管理</a><i></i></li>
        <li><cite></cite><a href="att_page" target="att" id="attOnclick">考勤管理</a><i></i></li>
    </ul>     
    </dd>
    <dd><div class="title"><span><img src="images/leftico03.png" /></span>权限管理</div>
    <ul class="menuson">
        <li><cite></cite><a href="#">用户管理</a><i></i></li>
        <li><cite></cite><a href="#">权限管理</a><i></i></li>
        <li><cite></cite><a href="#">角色管理</a><i></i></li>
    </ul>    
    </dd>    
    <dd><div class="title"><span><img src="images/leftico04.png"/></span>预留功能</div>
    <ul class="menuson">
        <li><cite></cite><a href="#">预留功能</a><i></i></li>
        <li><cite></cite><a href="#">预留功能</a><i></i></li>
        <li><cite></cite><a href="#">预留功能</a><i></i></li>
        <li><cite></cite><a href="#">预留功能</a><i></i></li>
    </ul>  
    </dd>      
    </dl>
<!--内联 -->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->    
    <div class="resjm" id="res">
    	<iframe name="res">
    	</iframe>
    </div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div class="attjm" id="att">
    	<iframe name="att">		
    	</iframe>
    </div>
</body>
</html>
