<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理系统</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".click").click(function() {
		//显示
			$(".tip").fadeIn(200);
		});
		//隐藏
		$(".tiptop a").click(function() {
			$(".tip").fadeOut(200);
		});
	});
</script>
</head>
<body>
	<div class="place">
		<span>位置：</span>
		<ul class="placeul">
			<li><a href="#">首页</a></li>
			<li><a href="#">信息管理</a></li>
			<li><a href="#">员工信息</a></li>
		</ul>
	</div>
	<div class="rightinfo">
		<div class="tools">
			<ul class="toolbar">
				<li class="click"><span><img src="images/t01.png" /></span>添加</li>
				<li class="click"><span><img src="images/t02.png" /></span>修改</li>
				<li><span><img src="images/t03.png" /></span>删除</li>
				<li><span><img src="images/t04.png" /></span>统计</li>
			</ul>
		</div>
		<table class="tablelist">
			<thead>
				<tr>
					<th><input name="" type="checkbox" value="" checked="checked" /></th>
					<th>id<i class="sort"><img src="images/px.gif"/></i></th>
					<th>姓名</th>
					<th>性别</th>
					<th>年龄</th>
					<th>学历</th>
					<th>专业</th>
					<th>职业技能</th>
					<th>联系方式</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>			
				<tr th:each="rs:${resumes}">
					<td><input name="" type="checkbox" value="" /></td>
					<td th:text="${rs.resume_id}"></td>
					<td th:text="${rs.resume_name}"></td>
					<td th:text="${rs.sex}">性别</td>
					<td th:text="${rs.age}">年龄</td>
					<td th:text="${rs.education}">学历</td>
					<td th:text="${rs.speciality}">专业</td>
					<td th:text="${rs.skill}">职业技能</td>
					<td th:text="${rs.phone}">联系方式</td>
					<td><a href="#" class="tablelink">查看</a> <a href="#"
						class="tablelink"> 删除</a></td>
				</tr>
			</tbody>
		</table>
		<div class="pagin">
			<div class="message">
				共<i class="blue">0</i>条记录，当前显示第&nbsp;<i class="blue">1&nbsp;</i>页
			</div>
			<ul class="paginList">
				<li class="paginItem"><a href="javascript:;"><span
						class="pagepre"></span></a></li>
				<li class="paginItem"><a href="javascript:;">1</a></li>
				<li class="paginItem current"><a href="javascript:;">2</a></li>
				<li class="paginItem"><a href="javascript:;">3</a></li>
				<li class="paginItem"><a href="javascript:;">4</a></li>
				<li class="paginItem"><a href="javascript:;">5</a></li>
				<li class="paginItem more"><a href="javascript:;">...</a></li>
				<li class="paginItem"><a href="javascript:;">10</a></li>
				<li class="paginItem"><a href="javascript:;"><span
						class="pagenxt"></span></a></li>
			</ul>
		</div>


		<div class="tip">
			<div class="tiptop">
				<span>提示信息</span><a></a>
			</div>
<!-- 			<div class="tipinfo"> -->
<!-- 			</div> -->
			<div class="tipbtn">
				<form th:action="@{res/page}" method="get">
					姓名：<input type="text" name="name"/><br/>
					性别：<select name="sex">
							<option value="男">男</option>
							<option value="女">女</option>
						 </select><br/>
					年龄：<input type="text" name="age"/><br/>
					学历：<select name="education">
							<option value="高中">高中</option>
							<option value="大专">大专</option>
							<option value="本科">本科</option>
						 </select><br/>
					专业：<input type="text" name="speciality"/><br/>
					职业技能：<input type="text" name="skill"/><br/>
					联系方式：<input type="text" name="phone"/><br/>
					<input type="submit" class="sure" value="提交" />			
<!-- 					<input type="button" class="cancel" value="取消" /> -->
				</form>				
			</div>

		</div>
	</div>

<!-- 	<script type="text/javascript">
// 		$('.tablelist tbody tr:odd').addClass('odd');
</script> -->
</body>
</html>
