<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
			<table>
				<tr th:each="rs:${resumes}">
					<td><input name="" type="checkbox" value="" /></td>
					<td th:text="${rs.phone}"></td>
					<td th:text="${rs.skill}">姓名</td>
					<td>性别</td>
					<td>年龄</td>
					<td>学历</td>
					<td>专业</td>
					<td>职业技能</td>
					<td>联系方式</td>
					<td><a href="#" class="tablelink">查看</a> <a href="#"
						class="tablelink"> 删除</a></td>
				</tr>
			</table>
</body>
</html>